@model IEnumerable<ZeroToHero.Data.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        Threre are @Model.Count() numbers of restaurant
    </div>
  
</div>

